.flex-row {
    display: flex;
    align-items: center;
    gap: var(--spacing-gap);
}

.form-control {
    border: none;
    outline: var(--divider);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-md);
    padding: var(--space-1);
    color: var(--color-text-secondary);
    height: 40px;
    transition: outline 0.3s ease;
}

.form-control:hover {
    outline: var(--border-1) solid var(--gray-400);
}

.form-control:focus {
    outline: var(--border-1) solid var(--gray-800);
}

.txt-center {
    text-align: center;
}

.fade {
    transition: all 0.25s ease;
}

.fade--hidden {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    position: absolute;
}

.fade--visible {
    opacity: 1;
    transform: translateY(0);
    position: relative;
}